<h1>{{ bookmarksListController.getCurrentCategoryName() }}</h1>

<div class="segnalibr" ng-repeat="bookmark in bookmarksListController.bookmarks | filter: bookmarksListController.getCurrentCategorySlug() ? { category: bookmarksListController.getCurrentCategorySlug() } : ''"
  ng-class="{ active: isCurrentBookmark(bookmark) }">
  <button type="button" class="close text-perfect segnalibr-close" ng-click="bookmarksListController.deleteBookmark(bookmark)">&times;</button>
  <button type="button" class="btn btn-outline-secondary" ui-sref="segnalibr.categories.bookmarks.edit({ bookmarkId: bookmark.id })" ng-disabled="isCurrentBookmark(bookmark)">e</button>
  <a href="{{ bookmark.url }}" target="_blank" class="segnalibr-link">{{ bookmark.title }}</a>
</div>

<hr>

<ui-view>
  <div ng-if="bookmarksListController.getCurrentCategorySlug()">
    <button class="btn btn-lg btn-primary" ui-sref="segnalibr.categories.bookmarks.create">Crea un Segnalibr!</button>
  </div>
</ui-view>
