.segnalibr, .nav-item {
  margin-top: 1em;

  &:last-of-type {
    margin-bottom: 1.2em;
  }

  &.active {
    a {
      color: #FB17C3;
      font-style: italic;
    }
  }
}

.segnalibr-close {
  text-shadow: 0 2px 0 #730157;
}

hr {
  border-color: #fd8be1;
}
