.nav-item {
  margin-top: 1em;
  padding-left: 10px;

  &.active {
    background: linear-gradient(to right, #343a40 0%, #343a40 7px, transparent 8px, transparent 100%);
  }
}

@media (min-width: 382px) {
  .sidebar {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #FD8BE1;
      border-right: 1px solid #7B807E;
  }
}
