.nav-item {
  margin-top: 1em;
}

.sidebar a {
  font-family: Gibson;
  color: #343a40;

  font-size: 26px;

  transition: all .3s ease-in-out;
}
.sidebar .active a {
  font-style: italic;
  color: #687581;
}
.sidebar a:hover {
    color: #687581;
}

@media (min-width: 382px) {
  .sidebar {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #FD8BE1;
      border-right: 1px solid #7B807E;
  }
}
